@page
@model ServiceHost.Areas.Admin.Pages.Blog.ArticleCategories.CreateModel
@{
}


@{

    ViewData["Title"] = "ایجاد گروه مقالات";
}
<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">ایجاد گروه مقالات</h3></div>
    <div class="panel-body">
        <div class=" form">
            <form action="" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label>نام گروه</label>
                    <input type="text" class="form-control" id="Name" name="Name" />
                </div>

                <button type="submit" class="btn-success">ایجاد</button>
            </form>
        </div>
    </div>
</div>



