@page
@model ServiceHost.Areas.Admin.Pages.Blog.ArticleCategories.EditModel
@{
}

@{

    ViewData["Title"] = "ویرایش گروه مقالات";
}
<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">ویرایش گروه مقالات</h3></div>
    <div class="panel-body">
        <div class=" form">
            <form action="" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label>نام گروه</label>
                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Category.Name"/>
                </div>

                <button type="submit" class="btn-success">ویرایش</button>
            </form>
        </div>
    </div>
</div>



