@model List<Query.Contract.Productcategory.ProductCategoryQueyViewModel>



<div class="categories_menu_toggle">
    <ul>
        @foreach (var item in Model)
        {
            <li><a class="menu_item_children" asp-page="Category" asp-route-CategoryId="@item.Id">@item.CategoryName</a></li>
        }
    </ul>
</div>


