@page
@model ServiceHost.Pages.ChangepasswordModel
@{
}

@section Title{ <title>@(ViewData["Title"] ="تغییر رنز عبور") | موبایل شاپ </title>}


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="login">
                <div class="login_form_container">
                    <div class="account_login_form">
                        <form method="post">
                            <label>رمزعبور قبلی</label>
                            <input type="text" name="Password" id="Password" required/>
                            <label>رمز عبور جدید</label>
                            <input type="text" name="RePassword" id="RePassword" required/>
                            <input type="hidden" name="Id" id="Id" value="@Model.AccountId" />
                            <button class="btn btn-success">تغییر</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
