@page
@model ServiceHost.Pages.ForgotPasswordModel
@{
}


@section Title{ <title>@(ViewData["Title"] ="فراموشی رمز عبور") | موبایل شاپ </title>}

<div class="contact_page_bg">
    <div class="container">
        <div class="contact_area">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <span>ایمیل خود را جهت بازیابی رمزعبور وارد کنید.</span>
                
                    <div class="contact_message form">
                        <form  method="post">

                            <p>
                                <input name="Email" placeholder="ایمیل" type="text">
                            </p>

                            <button type="submit">ارسال</button>
                           
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>