@page
@model ServiceHost.Pages.ResultModel
@{
}

@section Title{ <title>@(ViewData["Title"] ="نتیجه ") | موبایل شاپ </title>}

<div class="checkout_page_bg">
    <div class="container">
        <div class="col-lg-12">

            @if (!string.IsNullOrWhiteSpace(Model.message))
            {
                <div class="alert alert-success">
                    <p>@Model.message</p>

                </div>

            }

        </div>
    </div>
</div>