@model List<Query.Contract.Slider.SliderQueryViewModel>


<section class="slider_section slider_s_four mb-60">
    <section class="slider_section slider_s_four mb-60">
        <div class="slider_area slider3_carousel owl-carousel">
            @foreach (var item in Model)
            {
                <div class="single_slider d-flex align-items-center" data-bgimg="/Img/ShopSliders/@(item.Id)//@(item.Picture)">
                    <div class="slider_content slider_c_four container pl-3">
                        <h3>@item.Title</h3>
                        <h1>@item.Description</h1>
                        <p>تخفیف <span> 30 درصد</span> این هفته</p>
                        <a class="button" href="@item.Url">@item.ButtonText</a>
                    </div>
                </div>
            }

        </div>
    </section>
</section>

