@model List<Query.Contract.ArticleCategory.ArticleCategoryQueryViewModel>;

<div class="column1 col-lg-3 col-md-6">
    <div class="categories_menu categories_three">
        <div class="categories_title">
            <h2 class="categori_toggle">دسته بندی ها</h2>
        </div>
        <div class="categories_menu_toggle">
            <ul>
                @foreach (var item in Model)
                {
                    <li>
                        <a asp-page="./ArticleCategory" asp-route-CategoryId="@item.Id"> @item.Name</a><i class="fa fa-angle-left"></i>
                    </li>
                }


            </ul>
        </div>
    </div>
</div>