@page
@model ServiceHost.Areas.Admin.Pages.Shop.Roles.CreateModel
@{
}
<h1>ساخت حساب جدید</h1>

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">ایجاد نقش</h3></div>
    <div class="panel-body">
        <div class=" form">
            <form action="" method="post" >

             
                <div class="form-group">
                    <label>نام نقش</label>
                    <input type="text" class="form-control" id="Name" name="Name" />
                </div>



                <button type="submit">ایجاد</button>
            </form>
        </div>
    </div>
</div>



