@inject Frameworks.IAuthHelper AuthHelper;
@{
    var currentValue = AuthHelper.CurrentAccountInfo();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Coderthemes">
    <title>@ViewData["Title"] | Admin Dashboard</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <link rel="shortcut icon" href="~/AdminTheme/images/favicon_1.ico">






    <link href="~/AdminTheme/assets/css/persian-datepicker.min.css" rel="stylesheet" />
    <link href="~/AdminTheme/css/animate.css" rel="stylesheet" />
    <link href="~/AdminTheme/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/AdminTheme/css/bootstrap.css" rel="stylesheet" />
    <link href="~/AdminTheme/css/helper.css" rel="stylesheet" />
    <link href="~/AdminTheme/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/AdminTheme/css/style-responsive.css" rel="stylesheet" />
    <link href="~/AdminTheme/css/style.css" rel="stylesheet" />
    <link href="~/AdminTheme/css/waves-effect.css" rel="stylesheet" />

</head>

<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <a href="index.html" class="logo"><i class="md md-terrain"></i> <span>Mobile Shop </span></a>
                </div>
            </div>
            <!-- Button mobile view to collapse sidebar menu -->
       
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <div class="user-details">
                    <div class="pull-right">
                        <img src="~/Img/ProfileImages/@currentValue.Username/@currentValue.Picture" alt="" class="thumb-md img-circle">
                    </div>
                    <div class="user-info">
                        <div class="dropdown">
                            <a href="#" aria-expanded="false"> @currentValue.FullName <span class="caret"></span></a>

                        </div>
                        @if (currentValue.RoleId == 1)
                        {
                            <p class="text-muted m-0">مدیر</p>
                        }

                    </div>
                </div>
                <!--- Divider -->
                <div id="sidebar-menu">
                    <ul>
                        <li>
                            <a asp-page="/Index" class="waves-effect active"><i class="md md-home"></i><span> داشبورد </span></a>
                        </li>

                        <li class="has_sub">

                            <a class="waves-effect"><i class="glyphicon glyphicon-shopping-cart"></i><span> فروشگاه </span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a asp-page="/Shop/ProductCategories/index">گروه محصولات</a></li>
                                <li><a asp-page="/Shop/Products/index"> محصولات</a></li>
                                <li><a asp-page="/Shop/Products/Productcomments/index">دیدگاه محصولات</a></li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a class="waves-effect"><i class="glyphicon glyphicon-usd"></i><span> تخفیفات </span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a asp-page="/Shop/CustomerDiscount/index">تخفیف مشتریان</a></li>
                                <li><a asp-page="/Shop/ColleagueDiscount/index">تخفیف همکاران</a></li>

                            </ul>
                        </li>

                        <li class="has_sub">
                            <a class="waves-effect"><i class="glyphicon glyphicon-user"></i><span> کاربران </span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a asp-page="/Shop/Accounts/index">مدیریت کاربران</a></li>
                                <li><a asp-page="/Shop/Roles/index">مدیریت نقش ها</a></li>

                            </ul>
                        </li>


                        <li class="has_sub">
                            <a class="waves-effect" asp-page="/Shop/Orders/index"><i class="glyphicon glyphicon-list-alt"></i><span> سفارشات </span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a asp-page="/Shop/Orders/index">لیست سفارشات</a></li>

                            </ul>
                        </li>

                        <li class="has_sub">
                            <a class="waves-effect"><i class="glyphicon glyphicon-picture"></i><span> اسلایدر </span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a asp-page="/Shop/Sliders/ShopSlider/index">اسلایدر فروشگاه</a></li>
                                <li><a asp-page="">اسلایدر وبلاک</a></li>

                            </ul>
                        </li>


                        <li class="has_sub">
                            <a href="#" class="waves-effect"><i class="glyphicon glyphicon-pencil"></i> <span> مقالات </span> <span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a asp-page="/Blog/ArticleCategories/index">گروه مقالات</a></li>
                                <li><a asp-page="/Blog/Articles/index">مقالات</a></li>
                                <li><a asp-page="/Blog/ArticleComments/index">نظرات</a></li>



                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="#" class="waves-effect"><i class="glyphicon glyphicon-list-alt"></i><span> انبار </span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a asp-page="/Shop/Inventory/index">وضعیت انبار</a></li>

                            </ul>
                        </li>

                        <li>
                            <a asp-page="/setting/index" class="waves-effect active"><i class="glyphicon glyphicon-cog"></i><span> تنظیمات </span></a>
                        </li>

                        <li>
                            <a asp-page="~" class="btn btn-info text-black-50"><b> نمایش وب سایت</b> </a>
                        </li>



                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- Left Sidebar End -->

        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <link href="~/AdminTheme/assets/css/style.css" rel="stylesheet" />
    <link href="~/AdminTheme/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Font Icons -->
    <link href="~/AdminTheme/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/AdminTheme/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/AdminTheme/assets/css/material-design-iconic-font.min.css" rel="stylesheet">

    <!-- animate~/AdminTheme/ css -->
    <link href="~/AdminTheme/css/animate.css" rel="stylesheet" />

    <!-- Waves-e~/AdminTheme/ffect -->
    <link href="~/AdminTheme/css/waves-effect.css" rel="stylesheet">

    <!-- sweet a~/AdminTheme/lerts -->
    <link href="~/AdminTheme/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">

    <!-- Custom ~/AdminTheme/Files -->
    <link href="~/AdminTheme/css/helper.css" rel="stylesheet" type="text/css" />
    <link href="~/AdminTheme/css/style.css" rel="stylesheet" type="text/css" />



    <!-- END wrapper -->
    <script>
        var resizefunc = [];
    </script>
    <!-- jQuery  -->
    <script src="~/AdminTheme/js/jquery.min.js"></script>
    <script src="~/AdminTheme/assets/js/bootstrap.min.js"></script>
    <script src="~/AdminTheme/assets/js/waves.js"></script>
    <script src="~/AdminTheme/assets/js/wow.min.js"></script>
    <script src="~/AdminTheme/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/AdminTheme/assets/js/jquery.scrollTo.min.js"></script>
    <script src="~/AdminTheme/assets/chat/moment-2.2.1.js"></script>
    <script src="~/AdminTheme/assets/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/AdminTheme/assets/jquery-detectmobile/detect.js"></script>
    <script src="~/AdminTheme/assets/fastclick/fastclick.js"></script>
    <script src="~/AdminTheme/assets/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/AdminTheme/assets/jquery-blockui/jquery.blockUI.js"></script>

    <!-- sweet aler/ts -->
    <script src="~/AdminTheme/assets/sweet-alert/sweet-alert.min.js"></script>
    <script src="~/AdminTheme/assets/sweet-alert/sweet-alert.init.js"></script>

    <!-- flot Chart/ -->
    <script src="~/AdminTheme/assets/flot-chart/jquery.flot.js"></script>
    <script src="~/AdminTheme/assets/flot-chart/jquery.flot.time.js"></script>
    <script src="~/AdminTheme/assets/flot-chart/jquery.flot.tooltip.min.js"></script>
    <script src="~/AdminTheme/assets/flot-chart/jquery.flot.resize.js"></script>
    <script src="~/AdminTheme/assets/flot-chart/jquery.flot.pie.js"></script>
    <script src="~/AdminTheme/assets/flot-chart/jquery.flot.selection.js"></script>
    <script src="~/AdminTheme/assets/flot-chart/jquery.flot.stack.js"></script>
    <script src="~/AdminTheme/assets/flot-chart/jquery.flot.crosshair.js"></script>

    <!-- Counter-up -->
    <script src="~/AdminTheme/assets/counterup/waypoints.min.js" type="text/javascript"></script>
    <script src="~/AdminTheme/assets/counterup/jquery.counterup.min.js" type="text/javascript"></script>

    <!-- CUSTOM JS -->
    <script src="~/AdminTheme/js/jquery.app.js"></script>




    <!-- Dashboard -->
    <script src="~/AdminTheme/js/jquery.dashboard.js"></script>

    <!-- Chat -->
    <script src="~/AdminTheme/js/jquery.chat.js"></script>

    <!-- Todo -->
    <script src="~/AdminTheme/js/jquery.todo.js"></script>
    <!-- validation-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <!--Persian Date Picker-->
    <script src="~/AdminTheme/assets/js/persian-date.min.js"></script>
    <script src="~/AdminTheme/assets/js/persian-datepicker.min.js"></script>

    <script src="~/AdminTheme/assets/jquery-multi-select/jquery.multi-select.js"></script>
    <script src="~/AdminTheme/assets/jquery-multi-select/jquery.quicksearch.js"></script>

    <link href="~/AdminTheme/assets/jquery-multi-select/multi-select.css" rel="stylesheet" />

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <link href="~/AdminTheme/assets/css/popupStyle.css" rel="stylesheet" />
    <script src="//cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
    <script src="https://cdn.tiny.cloud/1/03bywyfc22f080o11wndvso5su892zkphj49li728tkw9f3f/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    @RenderSection("Scripts", false)



    <script>

        $('.PersianDateInput').persianDatepicker({

            format: 'YYYY/MM/DD',
            autoClose: true,
            initialValueType: "persian"
        });
    </script>




    <script>
        jQuery.validator.addMethod("maxFileSize",
            function (value, element, params) {
                if (element.files[0].size >= 2048 * 1024)
                    return false;
                else
                    return true;



            });

        jQuery.validator.unobtrusive.adapters.addBool("maxFileSize");

    </script>

    <script>
        jQuery.validator.addMethod("maxFileSize",
            function (value, element, params) {
                if (element.files[0].size >= 2048 * 1024)
                    return false;
                else
                    return true;

            });

        jQuery.validator.unobtrusive.adapters.addBool("maxFileSize");

    </script>

    <script>
        jQuery(document).ready(function () {
            $('#my_multi_select3').multiSelect({
                selectableOptgroup: true,
                selectableHeader:
                    "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
                selectionHeader:
                    "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
                afterInit: function (ms) {
                    var that = this,
                        $selectableSearch = that.$selectableUl.prev(),
                        $selectionSearch = that.$selectionUl.prev(),
                        selectableSearchString =
                            '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                        selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                        .on('keydown',
                            function (e) {
                                if (e.which === 40) {
                                    that.$selectableUl.focus();
                                    return false;
                                }
                            });

                    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                        .on('keydown',
                            function (e) {
                                if (e.which == 40) {
                                    that.$selectionUl.focus();
                                    return false;
                                }
                            });
                },
                afterSelect: function () {
                    this.qs1.cache();
                    this.qs2.cache();
                },
                afterDeselect: function () {
                    this.qs1.cache();
                    this.qs2.cache();
                }
            });
        });
    </script>



    <script>
        $(window).load(function () {
            $(".trigger_popup_fricc").click(function () {
                $('.hover_bkgr_fricc').show();
            });
            $('.hover_bkgr_fricc').click(function () {
                $('.hover_bkgr_fricc').hide();
            });
            $('.popupCloseButton').click(function () {
                $('.hover_bkgr_fricc').hide();
            });
        });
    </script>
    <script>
        $(function () {

            CKEDITOR.replace('Description', {
                customConfig: '/AdminTheme/assets/js/Config.js'

            });
        });

    </script>
    <script>
        tinymce.init({
            selector: '#BodyContent',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });
    </script>
</body>
</html>